version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - DB_USER=postgresql
      - DB_PASSWORD=vedant
      - DB_NAME=hospitaldb
    depends_on:
      - database

  auth-service:
    build: ./auth-service
    ports:
      - "5001:5001"
    env_file:
      - ./auth-service/.env

  notification-service:
    build: ./notification-service
    ports:
      - "5002:5002"
    env_file:
      - ./notification-service/.env

  database:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgresql
      POSTGRES_PASSWORD: vedant
      POSTGRES_DB: hospitaldb
    ports:
      - "5432:5432"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql


  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

volumes:
  db_data:
